build/
target/
bin/
dist/
output/
packages/
obj/

.logs/
.settings/
.mvn/
.vscode/
.vs/
.apt_generated/
.apt_generated_tests/
.springBeans/
.sts4-cache/
.metadata/
.idea/
.idea_modules/
.gradle/

*.log
*.iws
*.iml
*.ipr
*.classpath
*.factorypath
*.springBeans
*.user
.project
/src/Program/Tangram.Core.dll
/src/Program/Tangram.Core.pdb
/src/Program/Tangram.exe
/src/Program/Tangram.IE.dll
/src/Program/Tangram.IE.pdb
/src/Program/Tangram.pdb
/src/Program/Tangram.Utility.dll
/src/Program/Tangram.Utility.pdb
/src/Program/Tangram.Blink.dll
/src/Program/Tangram.Blink.pdb
/src/Program/Tangram.Chrome.dll
/src/Program/Tangram.Chrome.pdb
/src/Program/Tangram.Core.pdb
/src/Program/Tangram.exe
/src/Program/Tangram.pdb
/src/Program/Tangram.Utility.dll.config
/src/Program/Tangram.Core.dll
/src/Program/cookies.dat
/src/Program/Tangram.exe.config
